html, body {
    height: 100%;
    width: 100%;
    
  }
  body
   {
    background-color : #f5c6ce;
    font-family: 'Kanit', sans-serif;
     font-size:20px;
  }
  
  #heading{
    border: 7px solid #7b8a93;
    background-color:#d5dce0;
    border-radius: 12px 0px;
    color:#222023;
    margin:auto;
    height:48px;
    width: 220px;
    text-align: center;
  }
  #next{
    font-size: 20px;
    display:block;
    color:  #f23a59;
     border-radius: 5px;
    border: 2px solid  #f23a59;
    background: pink;
    height: 40px;
    width:130px;
    margin:auto;
     box-sizing:borderbox;
    text-align: center;
   
  }
  
  #next:hover{
    display:block;
    color:  #ffffff;
     border-radius: 5px;
    border: 2px solid   #f23a59;
    background: #ec6279;
    margin:auto;
    height: 37px;
    width:128px;
   
  }
  #jokes{
    color: white;
    font-size: 31px;
    margin: 20px auto;
    padding:27px;
    height: 35%;
    width: 52%;
    box-sizing:borderbox;
    border:4px solid #b5cfdb;
    border-radius: 0px 30px;
    background-color: #444646;;
  }